body{
    background-color: rgba(128, 128, 128, 0.186);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-one{
    border: 2px solid white;
    margin-left: 0.1%;
    margin-right: 0.1%;
    border-radius: 10px;
    padding: 1.4% 2.5% 3% 3%;
    margin-bottom: 1%;
}

@media(max-width: 1280px) and (min-width: 1025px){
    .card-one{
        border: 2px solid white;
        margin-left: 0.1%;
        margin-right: 0.1%;
        border-radius: 10px;
        padding: 1% 3% 3% 4%;
        margin-bottom: 1%;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    .card-one{
        border: 2px solid white;
        margin-left: 0.1%;
        margin-right: 0.1%;
        border-radius: 10px;
        padding: 1.6% 3% 3% 4%;
        margin-bottom: 1%;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .card-one{
        border: 2px solid white;
        margin-left: 0.1%;
        margin-right: 0.1%;
        border-radius: 10px;
        padding: 3% 3% 3% 5%;
        margin-bottom: 1%;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .card-one{
        border: 2px solid white;
        margin-left: 0.1%;
        margin-right: 0.1%;
        border-radius: 10px;
        padding: 4% 3% 3% 6.5%;
        margin-bottom: 1%;
    }
}

.separate-title-toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}

.budget-tracker-title{
    font-size: 190%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 0px;
    font-weight: 600;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

@media (max-width: 1280px) and (min-width: 1025px){
    .budget-tracker-title{
        font-size: 190%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0px;
        font-weight: 600;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    .budget-tracker-title{
        font-size: 190%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0px;
        font-weight: 600;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .budget-tracker-title{
        font-size: 190%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0px;
        font-weight: 600;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .budget-tracker-title{
        font-size: 145%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0px;
        font-weight: 600;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }
}

.toggle-btn{
    margin-left: 75%;
    padding-left: 1.8%;
    padding-right: 1.8%;
    padding-top: 0px;
    margin-top: 1%;
    margin-bottom: 0.7%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 13.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

@media (max-width:1280px) and (min-width: 1025px){
    .toggle-btn{
        margin-left: 67%;
        padding-left: 1.7%;
        padding-right: 1.7%;
        padding-top: 0px;
        margin-top: 1.2%;
        margin-bottom: 1%;
        border: 1px solid black;
        border-radius: 7px;
        font-size: 85%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.5px;
        font-weight: 600;
        background-color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    .toggle-btn{
        margin-left: 50%;
        padding-left: 1.7%;
        padding-right: 1.7%;
        padding-top: 0px;
        margin-top: 2%;
        margin-bottom: 1%;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 80%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.5px;
        font-weight: 600;
        background-color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .toggle-btn{
        margin-left: 35%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 0px;
        margin-top: 2%;
        margin-bottom: 2.5%;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 75%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.5px;
        font-weight: 600;
        background-color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .toggle-btn{
        margin-left: 15%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0px;
        margin-top: 2%;
        margin-bottom: 2%;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 70%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 0.5px;
        font-weight: 600;
        background-color: white;
        transition: background-color 0.5s ease, color 0.5s ease;
    }
}

.toggle-btn:hover{
    background-color: black;
    color: white;
}

.amount-label{
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
}

@media (max-width: 1280px) and (min-width: 1025px){
    .amount-label{
        font-size: 130%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .amount-label{
        font-size: 120%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .amount-label{
        font-size: 110%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .amount-label{
        font-size: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

.amount{
    margin-top: 0.8%;
    border: 1px solid rgba(0, 0, 0, 0.464);
    padding: 0.4% 2% 0.6% 1.2%;
    padding-right: 85.9%;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 100%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1280px) and (min-width: 1025px){
    .amount{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.7% 2% 1% 2%;
        padding-right: 79.5%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 120%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .amount{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.7% 0% 1% 2%;
        padding-right: 70.4%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 110%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .amount{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.8% 2% 1.1% 3%;
        padding-right: 70.4%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 100%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .amount{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 1.5% 0% 1.5% 4%;
        padding-right: 38%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 90%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.description-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 110%;
    line-height: 24px;
    letter-spacing: 0.5px;
}

@media (max-width: 1280px) and (min-width: 1025px){
    .description-label{
        font-size: 130%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .description-label{
        font-size: 120%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .description-label{
        font-size: 110%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .description-label{
        font-size: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

.description{
    margin-top: 0.8%;
    border: 1px solid rgba(0, 0, 0, 0.464);
    padding: 0.4% 2% 0.6% 1.2%;
    padding-right: 85.9%;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 100%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1280px) and (min-width: 1025px){
    .description{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.7% 2% 1% 2%;
        padding-right: 79.5%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 120%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .description{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.7% 0% 1% 2%;
        padding-right: 70%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 110%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .description{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.8% 2% 1.1% 3%;
        padding-right: 70.4%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 100%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .description{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 1.5% 0% 1.5% 4%;
        padding-right: 38%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 90%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

input[type="radio"] {
  transform: scale(1.2);
  accent-color: #1976d2; 
  cursor: pointer;
  margin-right: 5px;
}

.income{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: 600;
}

.expense{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: 600;
}

@media(max-width: 1280px) and (min-width: 1025px) {
    .income{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 120%;
        font-weight: 600;
    }

    .expense{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 120%;
        font-weight: 600;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .income{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 120%;
        font-weight: 600;
    }

    .expense{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 120%;
        font-weight: 600;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .income{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 110%;
        font-weight: 600;
    }

    .expense{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 110%;
        font-weight: 600;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .income{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        font-weight: 600;
    }

    .expense{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        font-weight: 600;
    }
}

.submit{
    background-color: #1976d2;
    color: white;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.4% 1.5% 0.6% 1.5%;
    border: 1px solid #1976d2;
    border-radius: 5px;
    transition: background-color 0.5s ease, border 0.5s ease;
    cursor: pointer;
}

@media(max-width: 1280px) and (min-width: 1025px) {
    .submit{
        background-color: #1976d2;
        color: white;
        font-size: 120%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.5% 1.9% 0.7% 1.9%;
        border: 1px solid #1976d2;
        border-radius: 5px;
        transition: background-color 0.5s ease, border 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .submit{
        background-color: #1976d2;
        color: white;
        font-size: 120%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.5% 1.9% 0.7% 1.9%;
        border: 1px solid #1976d2;
        border-radius: 5px;
        transition: background-color 0.5s ease, border 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .submit{
        background-color: #1976d2;
        color: white;
        font-size: 110%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.5% 1.9% 0.7% 1.9%;
        border: 1px solid #1976d2;
        border-radius: 5px;
        transition: background-color 0.5s ease, border 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .submit{
        background-color: #1976d2;
        color: white;
        font-size: 100%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.8% 2.5% 1% 2.5%;
        border: 1px solid #1976d2;
        border-radius: 5px;
        transition: background-color 0.5s ease, border 0.5s ease;
        cursor: pointer;
    }
}

.submit:hover{
    background-color: #0080ff;
    border: 1px solid #0080ff;
}

.totalincome{
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.totalexpense{
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.currentbalance{
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
}

@media(max-width: 1280px) and (min-width: 1025px) {
    .totalincome{
        font-size: 130%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .totalexpense{
        font-size: 130%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .currentbalance{
        font-size: 130%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .totalincome{
        font-size: 125%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .totalexpense{
        font-size: 125%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .currentbalance{
        font-size: 125%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .totalincome{
        font-size: 115%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .totalexpense{
        font-size: 115%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .currentbalance{
        font-size: 115%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .totalincome{
        font-size: 105%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .totalexpense{
        font-size: 105%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .currentbalance{
        font-size: 105%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
    }
}

.clearall{
    background-color: white;
    color: black;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.4% 1.5% 0.6% 1.5%;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

@media(max-width: 1280px) and (min-width: 1025px) {
    .clearall{
        background-color: white;
        color: black;
        font-size: 120%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.5% 1.9% 0.7% 1.9%;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .clearall{
        background-color: white;
        color: black;
        font-size: 120%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.5% 1.9% 0.7% 1.9%;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .clearall{
        background-color: white;
        color: black;
        font-size: 110%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.5% 1.9% 0.7% 1.9%;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .clearall{
        background-color: white;
        color: black;
        font-size: 100%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.8% 2.5% 1% 2.5%;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
}

.clearall:hover{
    background-color: black;
    color: white;
}

.alert{
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: red;
}

@media(max-width: 1280px) and (min-width: 1025px) {
    .alert{
        font-size: 130%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: red;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .alert{
        font-size: 130%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: red;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .alert{
        font-size: 120%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: red;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .alert{
        font-size: 110%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: red;
    }
}

.card-two{
    border: 2px solid white;
    margin-left: 0.1%;
    margin-right: 0.1%;
    border-radius: 10px;
    padding: 1.4% 2.5% 3% 3%;
    margin-bottom: 1%;
}

@media(max-width: 1280px) and (min-width: 1025px) {
    .card-two{
        border: 2px solid white;
        margin-left: 0.1%;
        margin-right: 0.1%;
        border-radius: 10px;
        padding: 1% 3% 3% 4%;
        margin-bottom: 1%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .card-two{
        border: 2px solid white;
        margin-left: 0.1%;
        margin-right: 0.1%;
        border-radius: 10px;
        padding: 1% 3% 3% 4%;
        margin-bottom: 1%;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .card-two{
        border: 2px solid white;
        margin-left: 0.1%;
        margin-right: 0.1%;
        border-radius: 10px;
        padding: 1% 3% 3% 5%;
        margin-bottom: 1%;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .card-two{
        border: 2px solid white;
        margin-left: 0.1%;
        margin-right: 0.1%;
        border-radius: 10px;
        padding: 1% 3% 3% 6.5%;
        margin-bottom: 1%;
    }
}

.downloadpdf-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 158%;
    font-weight: 600;
}

.selectmonth{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    font-weight: 600;
    margin-right: 1%;
}

.monthoptions{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2% 1.5% 0.4% 0.5%;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.downloadpdf{
    background-color: white;
    color: black;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.4% 1.5% 0.6% 1.3%;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

@media(max-width: 1280px) and (min-width: 1025px) {
    .downloadpdf-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 170%;
        font-weight: 600;
    }

    .selectmonth{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 130%;
        font-weight: 600;
        margin-right: 1%;
    }

    .monthoptions{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.4% 2% 0.6% 1%;
        text-align: left;
        outline: none;
        cursor: pointer;
    }

    .downloadpdf{
        background-color: white;
        color: black;
        font-size: 120%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.6% 1.7% 0.8% 1.5%;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .downloadpdf-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 165%;
        font-weight: 600;
    }

    .selectmonth{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 120%;
        font-weight: 600;
        margin-right: 1%;
    }

    .monthoptions{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 95%;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.4% 2% 0.6% 1%;
        text-align: left;
        outline: none;
        cursor: pointer;
    }

    .downloadpdf{
        background-color: white;
        color: black;
        font-size: 115%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.6% 1.7% 0.8% 1.5%;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .downloadpdf-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 155%;
        font-weight: 600;
    }

    .selectmonth{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 110%;
        font-weight: 600;
        margin-right: 1%;
    }

    .monthoptions{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 90%;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.4% 2% 0.6% 1%;
        text-align: left;
        outline: none;
        cursor: pointer;
    }

    .downloadpdf{
        background-color: white;
        color: black;
        font-size: 105%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.6% 1.7% 0.8% 1.5%;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .downloadpdf-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 140%;
        font-weight: 600;
    }

    .selectmonth{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 95%;
        font-weight: 600;
        margin-right: 1%;
    }

    .monthoptions{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 80%;
        font-weight: 600;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.4% 2% 0.6% 1%;
        text-align: left;
        outline: none;
        cursor: pointer;
    }

    .downloadpdf{
        background-color: white;
        color: black;
        font-size: 95%;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.8% 2.5% 1% 2.5%;
        border: 1px solid black;
        border-radius: 5px;
        transition: background-color 0.5s ease, color 0.5s ease;
        cursor: pointer;
    }
}

.downloadpdf:hover{
    background-color: black;
    color: white;
}

.search{
    margin-top: 0.8%;
    border: 1px solid rgba(0, 0, 0, 0.464);
    padding: 0.4% 2% 0.6% 1.2%;
    padding-right: 85.9%;
    border-radius: 5px;
    background-color: white;
    outline: none;
    font-size: 100%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1280px) and (min-width: 1025px) {
    .search{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.7% 2% 1% 2%;
        padding-right: 79.5%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 120%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .search{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.7% 0% 1% 2%;
        padding-right: 70%;
        margin-right: 1rem;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 120%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .search{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 0.8% 2% 1.1% 3%;
        padding-right: 70.4%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 100%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 480px) and (min-width: 0px) {
    .search{
        margin-top: 0.8%;
        border: 1px solid rgba(0, 0, 0, 0.464);
        padding: 1.5% 0% 1.5% 4%;
        padding-right: 38%;
        border-radius: 5px;
        background-color: white;
        outline: none;
        font-size: 90%;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.no-transaction-found{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    font-weight: 600;
}

.income-expense-bar-graph-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    font-weight: 600;
}

@media (max-width: 1280px) and (min-width: 1025px) {
    .no-transaction-found{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 130%;
        font-weight: 600;
    }

    .income-expense-bar-graph-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 180%;
        font-weight: 600;
    }
}

@media (max-width: 1024px) and (min-width: 768px){
    .no-transaction-found{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 130%;
        font-weight: 600;
    }

    .income-expense-bar-graph-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 170%;
        font-weight: 600;
    }
}

@media (max-width: 767px) and (min-width: 481px){
    .no-transaction-found{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 130%;
        font-weight: 600;
    }

    .income-expense-bar-graph-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 150%;
        font-weight: 600;
    }
}

@media (max-width: 480px) and (min-width: 0px){
    .no-transaction-found{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 130%;
        font-weight: 600;
    }

    .income-expense-bar-graph-title{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 140%;
        font-weight: 600;
    }
}